<?xml version="1.0" encoding="UTF-8"?><rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:georss="http://www.georss.org/georss" xmlns:media="http://search.yahoo.com/mrss/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:wfw="http://wellformedweb.org/CommentAPI/">
<channel>
<title>Engineers Without Borders USA</title>
<atom:link href="https://ewbla.wordpress.com/feed/" rel="self" type="application/rss+xml"></atom:link>
<link/>https://ewbla.wordpress.com
	<description>Los Angeles</description>
<lastbuilddate>Tue, 26 Feb 2019 01:03:01 +0000</lastbuilddate>
<language>en</language>
<sy:updateperiod>
	hourly	</sy:updateperiod>
<sy:updatefrequency>
	1	</sy:updatefrequency>
<generator>http://wordpress.com/</generator>
<image/>
<url>https://ewbla.files.wordpress.com/2019/05/cropped-ewblogo.png?w=32</url>
<title>Engineers Without Borders USA</title>
<link/>https://ewbla.wordpress.com
	<width>32</width>
<height>32</height>
<cloud domain="ewbla.wordpress.com" path="/?rsscloud=notify" port="80" protocol="http-post" registerprocedure=""></cloud>
<atom:link href="https://ewbla.wordpress.com/osd.xml" rel="search" title="Engineers Without Borders USA" type="application/opensearchdescription+xml"></atom:link>
<atom:link href="https://ewbla.wordpress.com/?pushpress=hub" rel="hub"></atom:link>
<item>
<title>Calendar</title>
<link/>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/
				<comments>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/#respond</comments>
<pubdate>Mon, 11 Feb 2019 03:25:33 +0000</pubdate>
<dc:creator><![CDATA[devolov]]></dc:creator>
<category><![CDATA[Uncategorized]]></category>
<guid ispermalink="false">http://ewbla.wordpress.com/?p=4</guid>
<description><![CDATA[Advertisements]]></description>
<content:encoded><![CDATA[<iframe src="https://calendar.google.com/calendar/b/4/embed?showTitle=0&#038;showNav=0&#038;showDate=0&#038;showPrint=0&#038;showTabs=0&#038;showCalendars=0&#038;height=825&#038;wkst=1&#038;bgcolor=%23FFFFFF&#038;src=ewb.la.org%40gmail.com&#038;color=%23711616&#038;ctz=America%2FLos_Angeles" frameborder="0" width="740" height="825" marginheight="0" marginwidth="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
]]></content:encoded>
<wfw:commentrss>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/feed/</wfw:commentrss>
<slash:comments>0</slash:comments>
<media:content medium="image" url="https://0.gravatar.com/avatar/f36335d5d36bfa6f056665868ac04c38?s=96&amp;d=identicon&amp;r=G">
<media:title type="html">devolov</media:title>
</media:content>
</item>
</channel>
</rss>
