<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:media="http://search.yahoo.com/mrss/"
	>

<channel>
	<title>Engineers Without Borders USA</title>
	<atom:link href="https://ewbla.wordpress.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://ewbla.wordpress.com</link>
	<description>Los Angeles</description>
	<lastBuildDate>Tue, 26 Feb 2019 01:03:01 +0000</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>http://wordpress.com/</generator>

<image>
	<url>https://ewbla.files.wordpress.com/2019/05/cropped-ewblogo.png?w=32</url>
	<title>Engineers Without Borders USA</title>
	<link>https://ewbla.wordpress.com</link>
	<width>32</width>
	<height>32</height>
</image> 
<cloud domain='ewbla.wordpress.com' port='80' path='/?rsscloud=notify' registerProcedure='' protocol='http-post' />
<atom:link rel="search" type="application/opensearchdescription+xml" href="https://ewbla.wordpress.com/osd.xml" title="Engineers Without Borders USA" />
	<atom:link rel='hub' href='https://ewbla.wordpress.com/?pushpress=hub'/>
	<item>
		<title>Calendar</title>
		<link>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/</link>
				<comments>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/#respond</comments>
				<pubDate>Mon, 11 Feb 2019 03:25:33 +0000</pubDate>
		<dc:creator><![CDATA[devolov]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://ewbla.wordpress.com/?p=4</guid>
				<description><![CDATA[Advertisements]]></description>
								<content:encoded><![CDATA[<iframe src="https://calendar.google.com/calendar/b/4/embed?showTitle=0&#038;showNav=0&#038;showDate=0&#038;showPrint=0&#038;showTabs=0&#038;showCalendars=0&#038;height=825&#038;wkst=1&#038;bgcolor=%23FFFFFF&#038;src=ewb.la.org%40gmail.com&#038;color=%23711616&#038;ctz=America%2FLos_Angeles" frameborder="0" width="740" height="825" marginheight="0" marginwidth="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
]]></content:encoded>
							<wfw:commentRss>https://ewbla.wordpress.com/2019/02/11/the-journey-begins/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
						
		<media:content url="https://0.gravatar.com/avatar/f36335d5d36bfa6f056665868ac04c38?s=96&#38;d=identicon&#38;r=G" medium="image">
			<media:title type="html">devolov</media:title>
		</media:content>
	</item>
	</channel>
</rss>
